<div class="holder padding-zero ">
    <div class="media-center-plugin layout3 text-overlay">
        <div ng-if="!WidgetHome.noCarouselBody" class="plugin-banner clearfix ">
            <div id="carousel" build-fire-carousel=""
                 ng-style="WidgetHome.info.data.content.images.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
        </div>

        <div ng-if="!WidgetHome.noCarouselBody" ng-class="WidgetHome.info.data.content.description ? 'padded':'wyswig-pading'" class="text-left padding-bottom-zero clearfix text-overlay">
            <p ng-if="WidgetHome.showDescription()" ng-bind-html="WidgetHome.info.data.content.description | safeHtml">
            </p>

        </div>


 <!--       <div ng-repeat="plugin in data.plugins" ng-click="navigateToPlugin(plugin)" ng-if="data.design.selectedLayout == 9">
            <div class="plugin-banner clearfix">
                <div class="plugin-banner clearfix">
                    <div class="plugin-slide text-center">
                        <div class="blackLayer"></div>
                        <div class="backgroundLayer" style="background:url('{{ cropImage(plugin.iconUrl? plugin.iconUrl : 'http://www.placehold.it/1280x720', {width: 640, height: 360}) }}');"></div>
                        <img lazy-img="{{ cropImage(plugin.iconUrl? plugin.iconUrl : 'http://www.placehold.it/1280x720', {width: 640, height: 360}) }}">
                        <p class="ellipsis item-text whiteTheme text-center">{{ plugin.title }}</p>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="padded padding-top-zero text-overlay" style="padding: 0;">

            <div class="plugin-banner has-info-bar clearfix" ng-repeat="plugin in  WidgetHome.info.data.content.entity">
                <div ng-click="WidgetHome.navigateToPlugin(plugin)" ng-if="plugin.data">
                    <div class="plugin-banner clearfix">
                        <div class="plugin-slide text-center">
                            <div class="blackLayer"></div>
                            <div class="backgroundLayer" style="background:url('{{ WidgetHome.cropImage(plugin.data.iconUrl? plugin.data.iconUrl : '../../../styles/media/holder-16x9.png', {width: 640, height: 360}) }}');"></div>
                            <img load-image="16x9" data-final-src="{{ WidgetHome.cropImage(plugin.data.iconUrl, {width: 640, height: 360}) }}" ng-if="plugin.data.iconUrl">
                            <img src="../../../styles/media/holder-16x9.png" ng-if="plugin.data.iconClassName">
                            <p class="ellipsis item-text whiteTheme text-center" ng-show="WidgetHome.info.data.design.hideText==">{{ plugin.data.title }}</p>
                        </div>
                    </div>
                </div>

                <div ng-click="WidgetHome.goToFolder(plugin)" ng-if="plugin.items">
                    <div class="plugin-banner clearfix">
                        <div class="plugin-slide text-center">
                            <div class="blackLayer"></div>
                            <div class="backgroundLayer" style="background:url('{{ cropImage(plugin.iconUrl? plugin.iconUrl : '../../../styles/media/holder-16x9.png', {width: 640, height: 360}) }}');"></div>
							<img load-image="16x9" data-final-src="{{ WidgetHome.cropImage(plugin.fileUrl, {width: 640, height: 360}) }}" ng-if="plugin.fileUrl">
	                       	<img src="../../../styles/media/holder-16x9.png" ng-if="! plugin.fileUrl && plugin.items.length!=0">
	                       	<img src="../../../styles/media/holder-16x9.png" ng-if="! plugin.fileUrl && plugin.items.length==0">
                            <p class="ellipsis item-text whiteTheme text-center" ng-show="WidgetHome.info.data.design.hideText=">{{ plugin.title }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
