<div class="holder padding-zero">
    <div class="media-center-plugin layout3 text-overlay">
        <div ng-if="!WidgetHome.noCarouselBody" class="plugin-banner clearfix text-overlay">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div ng-if="!WidgetHome.noCarouselBody" class="padded text-left text-overlay" ng-if="WidgetHome.showDescription()">
            <p class="margin-bottom-zero"
               ng-bind-html="WidgetHome.info.data.content.description | safeHtml">
            </p>
        </div>
        <div>
            <div ng-repeat="plugin in  WidgetHome.info.data.content.entity">
                <div ng-click="WidgetHome.navigateToPlugin(plugin)" ng-if="plugin.data">
                <div class="plugin-banner clearfix border-bottom-grey">
                    <div class="plugin-slide text-center">
                        <img ng-src="{{ WidgetHome.cropImage(plugin.data.iconUrl? plugin.data.iconUrl : 'http://www.placehold.it/450x254', {width: 450, height: 254}) }}" ng-if="plugin.data.iconUrl" />
                        <span class="main-icon text-primary {{ plugin.data.iconClassName }} icon3" ng-if="plugin.data.iconClassName"></span>
                    </div>
                </div>
                <div class="padded text-left">
                    <a class="text-primary">{{ plugin.data.title }}</a>
                </div>
                </div>
                <div  ng-click="WidgetHome.goToFolder(plugin)" ng-if="plugin.items">
                    <div class="plugin-banner clearfix border-bottom-grey">
                        <div class="plugin-slide text-center">
                            <img ng-if="plugin.fileUrl" ng-src="{{ WidgetHome.cropImage(plugin.fileUrl ? plugin.fileUrl : 'http://www.placehold.it/450x254' , {width: 450, height: 254}) }}">
                            <span class="main-icon text-primary icon3" ng-class="plugin.iconUrl ? plugin.iconUrl : 'glyphicon glyphicon-folder-open'"  ng-if="! plugin.fileUrl"></span>
                        </div>
                    </div>
                    <div class="padded text-left">
                        <a class="text-primary">{{ plugin.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>