<div class="holder padding-zero">
    <div class="media-center-plugin layout2 layout3 text-overlay">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix text-overlay" ng-if="WidgetHome.showDescription()">
            <p ng-bind-html="WidgetHome.info.data.content.description | safeHtml">
            </p>
        </div>

        <div class="list-layout">
            <div class="list-item" ng-repeat="plugin in data.plugins" ng-click="navigateToPlugin(plugin)">
                <div class="list-item-media text-left overflow-hidden">
                    <div class="list-media-holder pull-left">
                        <img ng-src="{{ cropImage(plugin.iconUrl, {width: 220, height: 120}) }}" ng-if="plugin.iconUrl">
                        <span class="main-icon {{ plugin.iconClassName }}" ng-if="plugin.iconClassName"></span>
                    </div>
                    <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                        <p class="ellipsis margin-zero bodyTextTheme margin-top-twenty">{{ plugin.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>