<div class="holder padding-zero">
    <div class="media-center-plugin list-layout layout4 text-overlay">
        <div ng-if="!WidgetHome.noCarouselBody" class="media-center-banner clearfix border-bottom-grey text-overlay">
            <div id="carousel" build-fire-carousel=""></div>
        </div>
        <div ng-if="!WidgetHome.noCarouselBody" class="text-left padded padding-bottom-zero clearfix text-overlay" >
            <p ng-if="WidgetHome.showDescription()" ng-bind-html="WidgetHome.info.data.content.description | safeHtml"></p>
        </div>
        <div class="padded padding-top-zero padding-bottom-zero">
            <div class="list-layout layout5">
                <div  class="row">
                    <div  class="list-item col-xs-6 padding-zero has-info-bar pull-left" ng-repeat="plugin in WidgetHome.info.data.content.entity">
                        <div ng-click="WidgetHome.navigateToPlugin(plugin.data)" class="list-item-media text-center" ng-if="plugin.data">
                            <div class="list-media-holder">
                                <img ng-src="{{ WidgetHome.cropImage(plugin.data.iconUrl? plugin.data.iconUrl : 'http://www.placehold.it/320x320', {width: 320, height: 320}) }}" ng-if="plugin.data.iconUrl" />
                                <span class="main-icon text-primary {{ plugin.data.iconClassName }} icon5" ng-if="plugin.data.iconClassName"></span>
                            </div>
                            <div class="info-bar titleBarBackgroundTheme">
                                <p class="margin-bottom-zero col-md-12 ellipsis titleBarTextAndIcons">
                                    {{ plugin.data.title }}
                                </p>
                            </div>
                        </div>
                        <div  ng-click="WidgetHome.goToFolder(plugin)" class="list-item-media text-center" ng-if="plugin.items">
                            <div class="list-media-holder">
                                <img  ng-if="plugin.fileUrl" ng-src="{{ WidgetHome.cropImage(plugin.fileUrl ? plugin.fileUrl : 'http://www.placehold.it/320x320' , {width: 320, height: 320}) }}">
                                <span class="main-icon text-primary icon5" ng-class="plugin.iconUrl ? plugin.iconUrl : 'glyphicon glyphicon-folder-open'"  ng-if="! plugin.fileUrl"></span>
                            </div>
                            <div class="info-bar titleBarBackgroundTheme">
                                <p class="margin-bottom-zero col-md-12 ellipsis titleBarTextAndIcons">
                                    {{ plugin.title }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>