

        <div class="holder padding-zero" style="height:100%;">
            <div class="folder-plugin layout12" style="height:100%;">
                <div class="plugin-banner clearfix">
                    <div class="plugin-slider text-center" image-carousel="{{ layout12TotalItem}}" >
                        <div class="plugin-slide" ng-repeat="rows in layout12Plugins" >
                            <div class="link-holder"  >
                                <!--ng-style="layout12Plugins.length>1 ? {'height': layout12Height}  : {} "-->
                                <p ng-repeat="plugin in rows"   class="ellipsis whiteTheme" emit-last-repeater-element>
                               <a class="whiteTheme ellipsis" ng-if="plugin.data" ng-click="WidgetHome.navigateToPlugin(plugin)">{{ plugin.data.title }}</a>
                                    <a class="whiteTheme ellipsis" ng-if="plugin.items"  ng-click="WidgetHome.goToFolder(plugin)">{{ plugin.title }}</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
