<div class="header clearfix border-bottom-grey">
    <h4 class="margin-zero">Create a New folder</h4>
    <span class="icon icon-cross2 close-modal" ng-click="cancel()"></span>
</div>
<div class="padded clearfix">
    <div class="item clearfix row">
        <div class="labels col-md-2 padding-right-zero pull-left">
            <span>Title</span>
        </div>
        <div class="labels col-md-10 pull-right">
            <input type="text" class="form-control" placeholder="Title" ng-model="folderTitle">
        </div>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-primary default-background-hover transition-third"
           ng-click="cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-success default-background-hover transition-third" ng-click="ok()">Save</a>
    </div>
</div>
