<div class="header clearfix border-bottom-grey">
    <h4 ng-show="isEdit" class="margin-zero">Edit folder</h4>
    <h4 ng-hide="isEdit" class="margin-zero">Create a New folder</h4>
    <span class="icon icon-cross2 close-modal" ng-click="cancel()"></span>
</div>
<div class="padded clearfix">
    <div class="item clearfix row">
	    <div class="labels col-md-2 padding-right-zero pull-left">
	        <span>Icon/Image</span>
	    </div>
	    <div class="main col-md-9 pull-right">
	        <div class="screens clearfix">
	            <div class="screen pull-left">
	                <a class="border-grey border-radius-three default-background-hover text-center" ng-click="selectIcon()">
	                    <img ng-show="folderFileUrl" class="" ng-src="{{folderFileUrl}}">
                        <span ng-class="folderIconUrl" ng-if="folderIconUrl"></span>
	                    <span ng-hide="folderFileUrl || folderIconUrl " class="add-icon ng-hide">+</span>
	                </a>
	                <span ng-show="folderFileUrl || folderIconUrl " class="icon btn-icon btn-delete-icon btn-danger transition-third" ng-click="removeIcon()"></span>
	            </div>
	        </div>
	    </div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
        <div class="labels col-md-2 padding-right-zero pull-left">
            <span>Title</span>
        </div>
        <div class="labels col-md-9 pull-right">
            <input type="text" class="form-control" placeholder="Title" ng-model="folderTitle">
        </div>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-primary default-background-hover transition-third"
           ng-click="cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-success default-background-hover transition-third" ng-click="ok()">Save</a>
    </div>
</div>
