<!DOCTYPE html>
<html ng-app="advancedFolderPluginContent">
<head lang="en">
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link href="../../../../styles/siteIcons.css" rel="stylesheet">
    <link href="assets/angular-ui-tree.css" rel="stylesheet">
    <!--SDK js-->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../../scripts/angular/angular-animate.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../../scripts/tinymce/tinymce.min.js"></script>
    <script src="../../../../scripts/tinymce/ui-tinymce.js"></script>
    <script src="../../../../scripts/sortable.min.js"></script>
    <script src="../../../../scripts/buildfire/components/carousel/carousel.js"></script>
    <script src="../../../../scripts/buildfire/components/actionItems/sortableList.js"></script>

    <script src="assets/angular-ui-tree.js"></script>
    <script src="app.js"></script>
    <script src="enums.js"></script>
    <script src="app.services.js"></script>
    <script src="modals.js"></script>
    <script src="controllers/content.home.controller.js"></script>
    <script>
        function clickMe(e){
            setTimeout(function () {
                var top =  e.pageY;
                $('.modal-dialog.modal-sm').offset({top: top, left: 0});
            }, 30);

        };
    </script>
    <link rel="stylesheet" href="../../../../styles/transitionAnimation.css">
    <meta charset="UTF-8">
</head>
<body>
<div ng-controller="ContentHomeCtrl as ContentHome">
    <div id="carousel"></div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Body</span>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="main col-md-12 pull-right">
            <textarea class="form-control" placeholder="WYSIWYG" ui-tinymce="ContentHome.bodyWYSIWYGOptions" ng-model="ContentHome.info.data.content.description"></textarea>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Plugins</span>
        </div>
    </div>
    <hr class="none">
	<div class="item clearfix row">
		<div class="labels col-md-12 padding-right-zero pull-left row">
			<div class="col-md-4 pull-left padding-right-zero">
            	<a class="btn btn-primary stretch" ng-click="ContentHome.addPluginInstancePopup()">Add Plugin Instance</a>
			</div>
			<div class="col-md-4 pull-left padding-right-zero">
				<a class="btn btn-success stretch" ng-click="ContentHome.addNewFolderToRootPopup(this)" onclick="clickMe(event)">New Container</a>
			</div>
		<!--	<div class="col-md-4 pull-left padding-right-zero">
				<a class="btn btn-success stretch" ng-click="ContentHome.addPluginInstancePopup()">Create New Plugin</a>
			</div>-->
    <div class="row">
        <!--<div class="col-sm-12">

            <button ng-click="expandAll()">Expand all</button>
            <button ng-click="collapseAll()">Collapse all</button>
        </div>-->
    </div>
    <hr class="none">
    <div class="row" style="position:relative; left:8px;">
        <div class="col-xs-12">
            <div ui-tree="" data-max-depth="3" id="tree-root">
                <ol ui-tree-nodes ng-model="ContentHome.info.data.content.entity">
                    <li ng-repeat="node in ContentHome.info.data.content.entity" ui-tree-node
                        ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
    </div>
    <!--<div ng-show="ContentHome.info.data.content.entity.length" ui-tree="ContentHome.treeOptions" data-max-depth="2">
        <ol ui-tree-nodes="" ng-model="ContentHome.info.data.content.entity">
            <li class="" ng-repeat="item in ContentHome.info.data.content.entity" ui-tree-node>
                <div ui-tree-handle>
                    <div ng-if="item.items">
                        <span class="icon icon-menu pull-left"></span>
                        <span class="title ellipsis pull-left" style="margin-left:15px">{{item.title}}</span>

                        <div class="copy pull-right">

                            <div class="pull-right"><span
                                    data-nodrag ng-click="ContentHome.deleteRootFolder($index)"
                                    class="btn-icon btn-delete-icon btn-danger transition-third"></span></div>
                        </div>
                    </div>
                </div>
                <ol ui-tree-nodes="" ng-model="item.items">
                    <li ng-repeat="subItem in item.items" ui-tree-node ng-click="ContentHome.deleteRootFolder($index)">
                        <div ui-tree-handle>
                            {{subItem.title}}
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </div>-->

</div>
</body>
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content clearfix">
        <div ng-if="node.items">
           <a class="btn btn-primary btn-xs pull-left" style="position:relative; top:10px;" ng-if="node.items && node.items.length > 0" data-nodrag ng-click="toggle(this)">
				<span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
			</a>
            <span class="icon icon-menu pull-left"></span>
            <div class="media-holder pull-left" data-nodrag="" ng-click="ContentHome.editFolder(this)" onclick="clickMe(event)">
				<img ng-src="{{node.iconUrl}}">
			</div>
			<div class="copy pull-left margin-left-ten">
            	<p class="ellipsis text-primary margin-zero">
					<span class="text-primary" style="cursor: pointer" data-nodrag="" ng-click="ContentHome.editFolder(this)" onclick="clickMe(event)">{{node.title}}</span>
				</p>
				<p class="ellipsis margin-zero" data-nodrag><span>Plugin Type</span></p>     
			</div>
			<a class="pull-right btn btn-danger btn-xs delete" data-nodrag ng-click="ContentHome.deleteEntity(this)">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
        </div>
        <div class="nodrop" ng-if="!node.items" style="background-color: white;">
            <span class="icon icon-menu pull-left"></span>
            <div class="media-holder pull-left" data-nodrag="" ng-click="ContentHome.editFolder(this)" onclick="clickMe(event)">
				<img ng-src="{{node.iconUrl}}">
			</div>
			<div class="copy pull-left margin-left-ten">
            	<p class="ellipsis text-primary margin-zero">
					<span class="text-primary" style="cursor: pointer" data-nodrag="" ng-click="ContentHome.editFolder(this)" onclick="clickMe(event)">{{node.title}}</span>
				</p>
				<p class="ellipsis margin-zero" data-nodrag><span>Plugin Type</span></p>     
			</div>
           	<a class="pull-right btn btn-danger btn-xs delete" data-nodrag ng-click="ContentHome.deleteEntity(this)">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
        </div>
    </div>
    <ol ng-if="node.items" ui-tree-nodes="" ng-model="node.items" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.items" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
</html>