<!DOCTYPE html>
<html ng-app="advancedFolderPluginContent">
<head lang="en">
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link href="../../../../styles/siteIcons.css" rel="stylesheet">

    <!--SDK js-->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../../scripts/angular/angular-animate.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../../scripts/tinymce/tinymce.min.js"></script>
    <script src="../../../../scripts/tinymce/ui-tinymce.js"></script>
    <script src="../../../../scripts/sortable.min.js"></script>
    <script src="../../../../scripts/buildfire/components/carousel/carousel.js"></script>
    <script src="../../../../scripts/buildfire/components/actionItems/sortableList.js"></script>
    <script src="enums.js"></script>
    <script src="app.js"></script>
    <script src="app.services.js"></script>
    <script src="controllers/content.home.controller.js"></script>
    <link rel="stylesheet" href="../../../../styles/transitionAnimation.css">
    <meta charset="UTF-8">
</head>
<body>
<div ng-controller="ContentHomeCtrl as ContentHome">
    <div id="carousel"></div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Description</span>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="main col-md-12 pull-right">
            <textarea class="form-control" placeholder="WYSIWYG" ui-tinymce="ContentHome.bodyWYSIWYGOptions" ng-model="ContentHome.info.data.content.description">></textarea>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-9 padding-right-zero pull-right">
            <span>Don't have a advancedFolder account? Sign up <a onclick="window.open('https://advancedFolder.com/', '_blank')">here</a>.</span>
        </div>

    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>advancedFolder Client ID</span>
        </div>
        <div class="main pull-right col-md-9">
            <input type="text" class="form-control" placeholder="Client ID" ng-model="ContentHome.info.data.content.advancedFolderClientID">
            <span style="font-size: 11px">Note: advancedFolder Client ID is mandatory. Click <a onclick="window.open('http://advancedFolder.com/you/apps', '_blank')">here</a> for more info.</span>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Link</span>
        </div>
        <div class="main pull-right col-md-9">
            <input type="text" class="form-control" placeholder="Link" ng-model="ContentHome.info.data.content.link">
        </div>
    </div>
    <div class="item clearfix row margin-top-ten" ng-show="ContentHome.advancedFolderLinksInvalid != null">
        <div class="main pull-right col-md-9">
            <div class="alert alert-success alert-sm text-center ng-hide" ng-show="ContentHome.advancedFolderLinksInvalid == false">Link successfully validated.</div>
            <div class="alert alert-danger alert-sm text-center" ng-show="ContentHome.advancedFolderLinksInvalid">The {{ContentHome.advancedFolderLinksInvalid}} appears to be invalid.</div>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="col-md-3 pull-right">
            <a class="btn btn-primary stretch" ng-click="ContentHome.verifyadvancedFolderLinks()">Verify</a>
        </div>
    </div>
</div>
</body>
</html>