<div class="holder now-playing text-center">
    <div ng-style="{'background':'url(' + (WidgetHome.currentTrack.artwork_url ? WidgetHome.currentTrack.artwork_url : 'assets/images/now-playing.png') + ') no-repeat center center',
         '-o-filter': 'blur(10px) brightness(0.2)',
    '-moz-filter': 'blur(10px) brightness(0.2)',
    '-webkit-filter': 'blur(10px) brightness(0.2)',
    'filter': 'blur(10px) brightness(0.2)',
    'position': 'absolute',
    'top': '-5%',
    'left': '-5%',
    '-o-background-size': 'cover',
    '-moz-background-size': 'cover',
    '-webkit-background-size': 'cover',
    'background-size': 'cover',
    'height': '110%',
    'width': '110%',
    'z-index': '0'}"></div>
    <div class="media-center-plugin">
        <div class="media-header-link">
            <a class="whiteTheme" ng-click="WidgetHome.getFromPlaylist()">Playlist</a>
        </div>
        <div class="media-holder margin-top-fifteen">
            <div class="media-inner text-center">
                <img ng-if="WidgetHome.currentTrack.artwork_url" class="border-radius-two"
                     ng-src="{{WidgetHome.currentTrack.artwork_url | cropImage : 260:260}}">
                <img ng-if="(!WidgetHome.currentTrack.artwork_url) && (!WidgetHome.currentTrack.image)"
                     class="border-radius-two"
                     src="assets/images/now-playing.png">
                <img ng-if="WidgetHome.currentTrack.image" class="border-radius-two"
                     ng-src="{{WidgetHome.currentTrack.image | cropImage : 260:260}}">
            </div>
        </div>
        <div class="media-player-info margin-top-twenty padding-left-ten padding-right-ten">
            <h4 class="margin-zero ellipsis whiteTheme">{{WidgetHome.currentTrack.title}}</h4>

            <p class="margin-zero whiteTheme ellipsis">{{WidgetHome.currentTrack.user.username}}{{WidgetHome.currentTrack.artist}}</p>
        </div>
        <div class="slider">
            <div class="playerMP" ng-show="WidgetHome.showTrackSlider">
                <div ng-if="WidgetHome.currentTime">{{WidgetHome.currentTime | secondsToDateTime |date: 'mm:ss'}}</div>
                <div class="audio-plyer" ng-if="WidgetHome.currentTime && WidgetHome.duration"><input type="range"
                                                                                                      min="0.0"
                                                                                                      max="{{WidgetHome.duration}}"
                                                                                                      ng-model="WidgetHome.currentTime"
                                                                                                      ng-change="WidgetHome.changeTime(WidgetHome.currentTime)"/>
                </div>
                <div ng-if="WidgetHome.duration">{{WidgetHome.duration | secondsToDateTime | date: 'mm:ss'}}</div>
            </div>
            <div class="volume">
                &nbsp;<input class="volume-button rotate-270"
                             ng-style="WidgetHome.showVolume? {'visibility':'visible'}:{'visibility':'hidden'}"
                             type="range"
                             min="0.0" max="100" ng-model="WidgetHome.volume"
                             ng-change="WidgetHome.changeVolume(WidgetHome.volume)"
                             style="width: 149px; border-radius:4px; background:#fff; margin-top: -93px;margin-left: -14px;z-index: 1000000"/>
            </div>
        </div>
        <div class="text-center margin-top-fifteen">
            <span class="icon icon-dots whiteTheme"></span>
        </div>
        <div class="media-player-action-btns">
            <!--<span class="icon icon-volume-high icon-sm" ng-click="WidgetHome.showVolume=!WidgetHome.showVolume"></span>-->
            <span class="icon icon-ellipsis icon-sm whiteTheme" ng-click="WidgetHome.openMoreInfoOverlay()"></span>
            <span class="icon icon-cog icon-sm whiteTheme" ng-click="WidgetHome.getSettings()"></span>
        </div>
        <div class="media-player-btns margin-top-ten">
            <span ng-class="(WidgetHome.settings && WidgetHome.settings.shufflePlaylist) ? 'primaryTheme bold' : 'whiteTheme'" class="icon icon-shuffle icon-sm " ng-click="WidgetHome.shufflePlaylist()"></span>
            <span class="icon icon-backward-circle whiteTheme" ng-click="WidgetHome.backward()"></span>
            <span ng-if="!WidgetHome.playing" class="icon icon-play-circle icon-main whiteTheme"
                  ng-click="WidgetHome.playTrack()"></span>
            <span ng-if="WidgetHome.playing" class="icon icon-pause-circle icon-main whiteTheme"
                  ng-click="WidgetHome.pauseTrack()"></span>
            <span class="icon icon-forward-circle whiteTheme" ng-click="WidgetHome.forward()"></span>
            <span ng-class="(WidgetHome.settings && WidgetHome.settings.loopPlaylist) ? 'primaryTheme bold' : 'whiteTheme'"  class="icon icon-repeat icon-sm" ng-click="WidgetHome.loopPlaylist()"></span>
            <span class="icon icon-repeat-one icon-sm primaryTheme hidden whiteTheme"></span>
            <span class="icon icon-repeat icon-sm primaryTheme hidden whiteTheme"></span>
        </div>
    </div>

    <!-- Playlist Overlay -->
    <div ng-if="WidgetHome.openPlaylist" class="overlay"
         style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);">
        <div class="overlay-content" style="postiion:absolute; top:0; left:0; height:100%; width: 100%; overflow:auto;">
            <div class="media-player-list-layout layout3">
                <div class="list-layout has-btns">
                    <div class="list-item overflow-hidden"
                         ng-swipe-right="WidgetHome.addEvents($event, $index, false,track)"
                         ng-swipe-left="WidgetHome.addEvents($event, $index, true,track)"
                         ng-repeat="track in WidgetHome.playList">
                        <div class="list-item-media text-left" ng-class="{'edit' : track.swiped}">
                            <div class="list-media-holder square-icon pull-left">
                                <img ng-if="track.image" ng-src="{{track.image | cropImage : 55 :22}}">
                            </div>
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="margin-bottom-zero ellipsis margin-top-twenty whiteTheme">{{track.title}}</p>
                            </div>
                            <div class="btns text-center">
                                <!--<a ng-if="!track.playing" class="icon icon-play-circle" ng-click="WidgetHome.playlistPlay(track)"></a>
                                <a ng-if="track.playing" class="icon icon-pause-circle primaryTheme" ng-click="WidgetHome.playlistPause(track)"></a>-->
                                <a ng-class="track.playing ? 'icon-pause-circle primaryTheme' : 'icon-play-circle'" class="icon " ng-click="WidgetHome.playlistPlayPause(track)"></a>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;" ng-click="WidgetHome.removeTrackFromPlayList($index)">
                                <span class="whiteTheme">Remove</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="margin-top-ten margin-bottom-ten">
            	<a ng-click="WidgetHome.closePlayListOverlay()" class="whiteTheme">Done</a>
			</div>
        </div>
    </div>

    <!-- More Info Overlay -->
    <div ng-if="WidgetHome.openMoreInfo" class="overlay"
         style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);">
        <div class="overlay-content" style="postiion:absolute; top:0; left:0; height:100%; width: 100%; overflow:auto;">
            <div class="media-player-more-info">
                <div class="media-holder margin-top-thirty">
                    <div class="media-inner text-center">
                        <img ng-if="WidgetHome.currentTrack.artwork_url" class="border-radius-two"
                             ng-src="{{WidgetHome.currentTrack.artwork_url}}">
                        <img ng-if="WidgetHome.currentTrack.image" class="border-radius-two"
                             ng-src="{{WidgetHome.currentTrack.image}}">
                    </div>
                </div>
                <hr class="none">
                <div class="media-player-info margin-top-twenty padding-left-ten padding-right-ten">
                    <h4 class="margin-zero ellipsis whiteTheme">{{WidgetHome.currentTrack.title}}</h4>
                    <p class="margin-zero ellipsis whiteTheme">{{WidgetHome.currentTrack.user.username}}</p>
                </div>
                <hr class="none">
                <div class="more-info-list padded">
                    <div class="text-center item">
                        <a ng-click="WidgetHome.getFromPlaylist()" class="whiteTheme">Go to Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a ng-click="WidgetHome.addToPlaylist(WidgetHome.currentTrack)" class="whiteTheme">Add to Playlist</a>
                    </div>
                    <div class="text-center item">
                        <a ng-click="WidgetHome.removeFromPlaylist(WidgetHome.currentTrack)" class="whiteTheme">Remove from Playlist</a>
                    </div>
                    <!--<div class="text-center item">
                        <a>Purchase</a>
                    </div>
                    <div class="text-center item">
                        <a>Share</a>
                    </div>-->
                    <div class="text-center item">
                        <a ng-click="WidgetHome.closeMoreInfoOverlay()" class="whiteTheme">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Overlay -->
    <div ng-if="WidgetHome.openSettings" class="overlay"
         style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);">
        <div class="overlay-content" style="postiion:absolute; top:0; left:0; height:100%; width: 100%; overflow:auto;">
            <div class="media-player-settings">
                <div class="settings-list padded padding-top-zero">
                    <div class="item clearfix row">
                        <div class="col-md-10 pull-left text-left">
                            <span class="whiteTheme">Automatically play next track</span>
                        </div>
                        <div class="col-md-2 pull-right text-right">
                            <div class="checkbox checkbox-primary checked no-label margin-zero">
                                <input type="checkbox" id="playnext" ng-model="WidgetHome.settings.autoPlayNext"
                                       ng-change="WidgetHome.setSettings(WidgetHome.settings)">
                                <label for="playnext"></label>
                            </div>
                        </div>
                    </div>
                    <div class="item clearfix row">
                        <div class="col-md-10 pull-left text-left">
                            <span class="whiteTheme">Loop playlist</span>
                        </div>
                        <div class="col-md-2 pull-right text-right">
                            <div class="checkbox checkbox-primary checked no-label margin-zero">
                                <input type="checkbox" id="loop" ng-model="WidgetHome.settings.loopPlaylist"
                                       ng-change="WidgetHome.setSettings(WidgetHome.settings)">
                                <label for="loop"></label>
                            </div>
                        </div>
                    </div>
                    <div class="item clearfix row">
                        <div class="col-md-10 pull-left text-left">
                            <span class="whiteTheme">Auto Jump To LastPosition</span>
                        </div>
                        <div class="col-md-2 pull-right text-right">
                            <div class="checkbox checkbox-primary checked no-label margin-zero">
                                <input type="checkbox" id="repeat" ng-model="WidgetHome.settings.autoJumpToLastPosition"
                                       ng-change="WidgetHome.setSettings(WidgetHome.settings)">
                                <label for="repeat"></label>
                            </div>
                        </div>
                    </div>
                    <div class="item clearfix row">
                        <div class="col-md-10 pull-left text-left">
                            <span class="whiteTheme">Shuffle Playlist</span>
                        </div>
                        <div class="col-md-2 pull-right text-right">
                            <div class="checkbox checkbox-primary checked no-label margin-zero">
                                <input type="checkbox" id="playfromLast" ng-model="WidgetHome.settings.shufflePlaylist"
                                       ng-change="WidgetHome.setSettings(WidgetHome.settings)">
                                <label for="playfromLast"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="margin-bottom-ten">
	            <a ng-click="WidgetHome.closeSettingsOverlay()" class="whiteTheme">Done</a>
			</div>
        </div>
    </div>
</div>