.angular-ui-tree-empty,
.angular-ui-tree-drag .angular-ui-tree-empty{
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.angular-ui-tree-nodes,
.angular-ui-tree-drag{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes,
.angular-ui-tree-drag{
    padding-left: 20px;
}
.angular-ui-tree ol.angular-ui-tree-nodes,
.angular-ui-tree-drag ol.angular-ui-tree-nodes{
	border-radius:4px;
	overflow:hidden;
	border:1px solid #ddd;
}
.angular-ui-tree-node,
.angular-ui-tree-drag{
    padding: 16px !important;
}
.angular-ui-tree-node + .angular-ui-tree-node,
.angular-ui-tree-drag + .angular-ui-tree-drag{
	border-top:1px solid #ddd;
}

.angular-ui-tree ol.angular-ui-tree-nodes li.angular-ui-tree-node ol.angular-ui-tree-nodes,
.angular-ui-tree-drag ol.angular-ui-tree-nodes li.angular-ui-tree-node ol.angular-ui-tree-nodes{
	border:none;
}
.angular-ui-tree ol.angular-ui-tree-nodes li.angular-ui-tree-node ol.angular-ui-tree-nodes li.angular-ui-tree-node,
.angular-ui-tree-drag ol.angular-ui-tree-nodes li.angular-ui-tree-node ol.angular-ui-tree-nodes li.angular-ui-tree-node{
	border:1px solid #ddd;
	margin-top:12px;
	border-radius:4px;
}
.angular-ui-tree-node, 
.angular-ui-tree-placeholder,
.angular-ui-tree-drag{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 54px;
    line-height: 20px;
}
.angular-ui-tree-drag span.title,
.angular-ui-tree-drag .angular-ui-tree-handle{
	font-size:14px;
	line-height:20px;
	color:#5f5f5f;
	padding-left:0;
	margin-left:0;
}

.angular-ui-tree-hidden{
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-handle,
.angular-ui-tree-drag .angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
	font-family:"Muli",sans-serif;
}

.angular-ui-tree span.icon-menu,
.angular-ui-tree-drag span.icon-menu{
	color: #999;
	cursor: drag;
    font-size: 24px;
    margin-right: 12px;
    position: relative;
    top: -2px;
}